body {
    font-family: "Liberation Sans";
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
}

a {
    color: inherit;
}

div#resource_list {
    margin: 3em;;
}
div.resource {
    float: left;
    margin: 0 2em 2em 0;
    width: 240px;
    height: 250px;
    overflow: hidden;
}
dt {
    color: grey;
}
input[type="text"] {
    border: 1px inset black;
}
input[type="submit"] {
    border: 1px outset black;
}

/*div#left {*/
    /*border-right: 1px solid black;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 25em;*/
    /*padding: 1em;*/
    /*overflow: auto;*/
/*}*/
/*div#right {*/
    /*margin-left: 27em;*/
/*}*/

ul {
    font-size: 11px;
}
ul.tagcatbody li.tagtool {
    display: inline;
    margin-right: 3px;
}
ul.tagcatbody li a {
    /*background-color: grey;*/
    padding: 0 3px;
    /*color: white;*/
    text-decoration: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.tagtooledit,
span.tagtoolcount {
    display: none;
}
.tint_1  { color: #AAA; }
.tint_2  { color: #999; } 
.tint_3  { color: #888; } 
.tint_4  { color: #777; } 
.tint_5  { color: #666; } 
.tint_6  { color: #555; } 
.tint_7  { color: #444; } 
.tint_8  { color: #333; } 
.tint_9  { color: #222; } 
.tint_10 { color: #111; } 
.tint_11 { color: #000; } 
